<title>My application</title>
  <h1>Search App</h1>
!
Left to rigtht, text areas get inputs like "IntArray1 , IntArray2, Int1, Int2"
Int1 will be searched in IntArray1
Int2 will be searched in IntArray2
if both of the Ints are in their IntArrays program return true 
!

Result is {{result}}
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="8" cols="8"></textarea>
        <textarea name="input4" rows="8" cols="8"></textarea>
        <br>
        <input type="submit">
  </form>
